html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -9.97%, #ECF0F7 100%);
    @extend %inter-400;
}

main {
    flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px 0 8px;
}




