@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'media';
@import 'global';



.mobile{
    display: none;
    &__btn{
        padding: 10px 19px;
        border: 1px solid #ffffff;
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        border-radius: 5px;
        @extend %inter-700;
        cursor: pointer;
    }
}

.mobile-close{
    display: none;
    &__btn{
        padding: 10px 19px;
        border: 1px solid #FA4949;
        color: #FA4949;
        border-radius: 5px;
        font-size: 13px;
        line-height: 16px;
        @extend %inter-700;
        cursor: pointer;
    }
}

.header{
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 840px;
    max-width: 100%;
    object-fit: cover;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    &__menu{
        margin-right: 100px;
    }
    &__item{
        display: flex;
    }
    &__text-title{
        display: none;
        font-size: 20px;
        line-height: 24px;
        color: #262B36;
        @extend %inter-700;
    }
    &__items--active{
        color: #fff;
        opacity: 1 !important;
        @extend %inter-700;
    }
    &__items{
        margin-right: 60px;
        color: #fff;
        opacity: 0.4;
        font-size: 15px;
        line-height: 18px;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }

    &__login-mob{
        display: none;
    }

    &__start-mob{
        margin-right: 20px;
        font-size: 15px;
        line-height: 18px;
        padding: 15px 28px;
        width: 100%;
        background-color: #3ACF6E;
        color: #fff;
        border-radius: 5px;
        line-height: 18px;
        font-size: 15px;
        @extend %inter-700;
    }
    &__signin-mob{
        font-size: 15px;
        line-height: 18px;
        padding: 15px 45px;
        border: 1px solid #3ACF6E;
        border-radius: 5px;
        color: #3ACF6E;
        font-size: 15px;
        line-height: 18px;
        @extend %inter-700;
    }


    &__signin{
        margin-right: 42px;
        color: #262B36;
        font-size: 13px;
        line-height: 16px;
        @extend %inter-700;
    }
    &__start{
        font-size: 13px;
        line-height: 16px;
        color: #3ACF6E;
        @extend %inter-700;
    }
}


.header-content{
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    position: relative;
    &__wrapper{
        max-width: 600px;
    }
    &__title{
        font-weight: bold;
        font-size: 55px;
        line-height: 74px;
        margin-top: 28px;
        color: #fff;
        @extend %inter-700;
        & span{
            color: #3ACF6E;
        }
    }
    &__text{
        margin-top: 30px;
        color: #fff;
        font-size: 20px;
        line-height: 32px;
        @extend %inter-400;
    }
    &__btns{
        margin-top: 60px;
    }
    &__btn-start,
    &__btn-learn{
        padding: 15px 28px;
        border-radius: 5px;
        color: #fff;
        @extend %inter-700;
        font-size: 15px;
        line-height: 18px;
        transition: all .5s;
        cursor: pointer;
    }
    &__btn-start{
        background-color: #3ACF6E;
        margin-right: 20px;
        &:hover{
            background-color: #00af3d;
        }
    }
    &__btn-learn{
        border: 1px solid #fff;
        &:hover{
            background-color: rgba(255, 255, 255, 0.26);
        }
    }
    &__inner-img{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/header-2.png');
            object-fit: cover;
            width: 397px;
            height: 256px;
            left: 160px;
            top: 444px;
            z-index: 2;
        }
    }
}




// descr text 
.descr{
    margin: 187px 0 127px;
    position: relative;
    &__text{
        max-width: 960px;
        font-style: italic;
        @extend %inter-500;
        font-size: 20px;
        line-height: 32px;
        color: #606B86;
    }
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/dots-bg.svg');
        height: 348px;
        width: 241px;
        top: -229px;
        right: 0;
        z-index: 1;
    }
}
// descr text -- end



// Section Feature
.feature{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__img{
        margin-top: 74px;
        object-fit: cover;
        width: 457px;
        height: 457px;
    }
}

.feature-wrapper{
    max-width: 678px;
    &__descr{
        margin-bottom: 152px;
        max-width: 550px;
    }
    &__subtitle{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #2053D1;
        @extend %inter-700;
    }
    &__title{
        font-size: 42px;
        line-height: 51px;      
        color: #262B36;
        @extend %inter-700;  
        margin-top: 20px;     
    }
    &__text{
        font-size: 18px;
        line-height: 28px;
        color: #606B86;
        margin-top: 24px;
    }
    &__items{
        display: grid;
        grid-template-columns: 300px 280px;
        grid-gap: 100px;
        
    }
    &__item-auto,
    &__item-smart,
    &__item-prevention,
    &__item-serv{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 55px;
            height: 55px;
            left: 0;
            top: -80px;
        }
    }
    &__item-auto{
        &::before{
            background-image: url('../images/icons/auto.svg');
        }    
    }
    &__item-smart{
        &::before{
            background-image: url('../images/icons/smart.svg');
        }
    }
    &__item-prevention{
        &::before{
            background-image: url('../images/icons/prevention.svg');
        }
    }
    &__item-serv{
        &::before{
            background-image: url('../images/icons/serv.svg');
        }
    }

    &__item-title{
        font-size: 18px;
        line-height: 22px;
        color: #262B36;
        @extend %inter-600;
    }
    &__item-text{
        margin-top: 12px;
        font-size: 15px;
        line-height: 24px;
        color: #606B86;
    }
}
// Section Feature -- end


// Section Update

.update{
    min-height: auto;
    margin-top: 230px;
    .update-inner{
        display: flex;
        justify-content: space-between;
    }
    &__starts-descr{
        margin-top: 48px;
    }
    &__starts-subtitle{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #2053D1;
        @extend %inter-700;
    }
    &__starts-title{
        font-size: 42px;
        line-height: 64px;
        color: #262B36;
        @extend %inter-700;
    }
    &__starts-photo{
        position: relative;
    }
    &__starts-img1{
        margin-left: 240px;
        margin-top: 123px;
        object-fit: cover;
    }
    &__starts-img3{
        position: absolute;
        object-fit: cover;
        top: -66px;
        left: -120px;    
    }
    &__starts-img2{
        position: absolute;
        object-fit: cover;
        top: 236px;
        left: -120px;
    }
    &__advan{
        max-width: 760px;
        min-height: 1103px;
        width: 100%;
        background-image: url('../images/update-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__advant-wrapper{
        margin-top: 117px;
        margin: 104px 0 181px 310px;
    }
    &__advant-items{
        max-width: 444px;
        text-align: left;
        margin-bottom: 50px;
        padding-left: 95px;
        padding-top: 13px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
        &::before{
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            left: 0;
            top: 0;
        }
    }
    &__advant-items-monitor{
        &::before{
            background-image: url('../images/icons/monitor.svg');
        }
    }

    &__advant-items-maintenance{
        &::before{
            background-image: url('../images/icons/maintenance.svg');
        }
    }

    &__advant-items-repair{
        &::before{
            background-image: url('../images/icons/repair.svg');
        }
    }

    &__advant-items-replace{
        &::before{
            background-image: url('../images/icons/replaice.svg');
        }
    }

    &__advant-title{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 11px;
        color: #fff;
        @extend %inter-600;
    }
    &__advant-text{
        font-size: 15px;
        line-height: 24px;      
        color: #FFFFFF;
    }
}

// Section Update -- end



// Section Sevice

.service{
    margin: 164px 0 216px;
    &__descr{
        text-align: center;
        margin-bottom: 96px;
    }
    &__descr-subtitle{
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 10px;
        text-transform: uppercase;
        @extend %inter-700;
        margin-bottom: 17px;
        color: #2053D1;
    }
    &__descr-title{
        font-size: 42px;
        line-height: 64px;
        color: #262B36;
    }
    &__descr-text{
        margin-top: 24px;
        font-size: 18px;
        line-height: 28px;
        color: #606B86;
        @extend %inter-400;
    }
    &__img{
        margin: 0 auto;
    }
    .service-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 128px;
        align-items: center;
        
    }
    .service-slider{
        display: none;
        flex-wrap: nowrap;
        min-height: 100px;
    }
    &__item--slider{
        display: flex !important;
        align-items: center;
        padding-right: 20px;
        min-width: 315px;
        // width: 100%;
        min-height: 96px;
        background: #FFFFFF;
        border-radius: 16px;
        filter: drop-shadow(4px 14px 14px rgba(0, 0, 0, 0.08));
        margin-bottom: 36px;
        margin-left: 30px;
    }
    &__item{
        display: flex;
        align-items: center;
        max-width: 360px;
        width: 100%;
        min-height: 96px;
        background: #FFFFFF;
        border-radius: 16px;
        filter: drop-shadow(4px 4px 24px rgba(0, 0, 0, 0.08));
        margin-bottom: 20px;
    }
    &__item-img{
        margin: 0 24px 0;
    }
    &__item-title{
        font-size: 18px;
        line-height: 32px;
        color: #262B36;
    }
}

// Section Sevice -- end

.footer{
    min-height: 547px;
    .footer-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 10px;
    }
    .footer-address{
        max-width: 298px;
        &__img{
            margin-bottom: 40px;
        }
        &__title{
            font-size: 20px;
            line-height: 30px;
            color: #262B36;
            @extend %inter-700;
            color: #262B36;
        }
        &__addr{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 30px;
            color: #262B36;
        }
        &__contacts{
            display: flex;
            flex-direction: column
        }
        &__tel{
            margin-bottom: 5px;
            font-size: 20px;
            line-height: 30px;
            color: #262B36;
            position: relative;
            &::before{
                content: 'P:';
                @extend %inter-700;
            }
        }
        &__email{
            font-size: 20px;
            line-height: 30px;
            color: #262B36;
            position: relative;
            &::before{
                content: 'E:';
                @extend %inter-700;
            }
        }
    }

    .footer-nav,
    .footer-about,
    .footer-connect{
        margin-top: 15px;
        max-width: 240px;
        &__title{
            font-size: 20px;
            line-height: 24px;
            color: #262B36;
            @extend %inter-700;
            margin-bottom: 16px;
        }
        &__item{
            font-size: 20px;
            line-height: 47px;
            color: #606B86;
            cursor: pointer;
            &:hover{
                color: #2053D1;
            }
        }
    }

    .footer-connect{
        position: relative;
        &__item{
            padding-left: 56px;
        }
        &__item--facebook{
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icons/ico-facebook.svg');
                width: 26px;
                height: 26px;
                left: 0;
                top: 48px;
            }
        }
        &__item--twitter{
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icons/ico-twitter.svg');
                width: 29px;
                height: 24px;
                left: 0;
                top: 98px;
            }
        }
        &__item--insta{
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icons/ico-instagram.svg');
                width: 28px;
                height: 28px;
                left: 0;
                top: 140px;
            }
        }
    }


    .footer-copy{
        margin-top: 127px;
        text-align: center;
        padding: 31px 0;
        min-height: 90px;
        font-size: 18px;
        line-height: 28px;
        color: #262B36;
    }
}






@import 'media';

























